tr:nth-child(even) { background: #cfc  }
tr:nth-child(odd) { background: #fff }

a.disabled {
	pointer-events: none;
	cursor: default;
	text-decoration: none;
	color: black;
}

body { font-family: sans-serif; background: #fff; width: 640px; margin: 5% auto;}
