<!DOCTYPE html>
<html lang="en">
<head>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'news/style.css' %}" />
	<title>{% block title %}{% endblock %}</title>
</head>

<body>

	<div id="content">
		{% block content %}{% endblock %}
	</div>
</body>
</html>