{% extends "news/base.html" %}

{% block title %}ApiLog{% endblock %}

{% block content %}

{% if logs %}
	<table>
	<th>id</th>
	<th>date</th>
	<th>time</th>
	<th>IP</th>
	<th>query</th>
	<th>results</th>
	<th>sources</th>
	{% for log in logs %}
		<tr>
			<td>{{ log.id }}</td>
			<td>{{ log.access_datetime|date:"d.m.Y" }}</td>
			<td>{{ log.access_datetime|date:"H:i:s" }}</td>
			<td>{{ log.user_ip }}</td>
			<td>{{ log.user_query }}</td>
			<td>{{ log.total_result_count }}</td>
			<td>{{ log.sources_with_result_count }}</td>
		</tr>
	{% endfor %} 
	</table>
{% endif %}

<div class="pagination">
	{% if logs.has_previous %}
		<a href="?page={{ logs.previous_page_number }}">prev</a>
	{% else %}
		<a href="#" class="disabled">prev</a>
	{% endif %}

	{% if logs.has_next %}
		<a href="?page={{ logs.next_page_number }}">next</a>
	{% else %}
		<a href="#" class="disabled">next</a>
	{% endif %}
</div>

{% endblock %}